<app-side-nav>
    <app-side-nav-tabs>
        <app-side-nav-tab tab-title="Pages" tab-icon="glyphicon glyphicon-book">
            <ul>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
            </ul>
        </app-side-nav-tab>
        <app-side-nav-tab tab-title="Bookmarks" tab-icon="glyphicon glyphicon-bookmark">
            <ul>
                <li>Bookmark 1</li>
                <li>Bookmark 2</li>
                <li>Bookmark 3</li>
                <li>Bookmark 4</li>
                <li>Bookmark 1</li>
                <li>Bookmark 2</li>
                <li>Bookmark 3</li>
                <li>Bookmark 4</li>
                <li>Bookmark 1</li>
                <li>Bookmark 2</li>
                <li>Bookmark 3</li>
                <li>Bookmark 4</li>
                <li>Bookmark 1</li>
                <li>Bookmark 2</li>
                <li>Bookmark 3</li>
                <li>Bookmark 4</li>
                <li>Bookmark 1</li>
                <li>Bookmark 2</li>
                <li>Bookmark 3</li>
                <li>Bookmark 4</li>
                <li>Bookmark 1</li>
                <li>Bookmark 2</li>
                <li>Bookmark 3</li>
                <li>Bookmark 4</li>
            </ul>
        </app-side-nav-tab>
    </app-side-nav-tabs>
    <app-side-nav-content>
        <h1>Content1</h1>
        <h1>Content2</h1>
        <h1>Content3</h1>
        <h1>Content4</h1>
        <h1>Content5</h1>
        <h1>Content6</h1>
        <h1>Content7</h1>
        <h1>Content8</h1>
        <h1>Content9</h1>
        <h1>Content0</h1>
        <h1>Content1</h1>
        <h1>Content2</h1>
        <h1>Content3</h1>
        <h1>Content4</h1>
        <h1>Content5</h1>
        <h1>Content6</h1>
        <h1>Content7</h1>
        <h1>Content8</h1>
        <h1>Content9</h1>
        <h1>Content0</h1>
    </app-side-nav-content>
</app-side-nav>